extends navbar-layout

block content
    h2 Add Statistics for a Day
    .text-warning Note that you should ensure all data from the day is obtained and can fill up all fields before continuing

    h4.mt-5 Previous Day Statistics
    table.table
        thead
            tr
                th(scope='col') Record
                th(scope='col') Value
        tbody
            each val in prevData
                tr
                    th(scope='row')= val.name
                    td= val.val