extends navbar-layout

block content
    h1.text-center Login to dashboard
    .text-center.text-warning Authorized users only. If you are not authorized, do not attempt to login!
    #loginform.mt-5
        form
            .form-group.col-6.offset-3
                label(for='email') Email Address
                input#email.form-control(type='email', aria-describedby='emailHelp', placeholder='Enter email address')
                small#emailHelp.form-text.text-muted Authorized Emails only
            .form-group.col-6.offset-3
                label(for='password') Password
                input#password.form-control(type='password', placeholder='Password')
            .text-center
                button.btn.btn-primary(type='submit') Login
            .mt-5.pt-5.text-center Authentication provided by
                br
                img(src='/images/firebaseauth.png', height='150')