body
  font: 14px "Google Sans", sans-serif

.largepadding
  padding: 50px

a
  color: #00B7FF

.text-red
  color: red

.text-green
  color: green

td.details-control
  cursor: pointer

.case-history-limegreen
  background-color: limegreen
  color: white

.case-history-royalblue
  color: white
  background-color: royalblue

.case-history-grey
  background-color: grey
  color: white

.dorscon-table, .dorscon-table td
  border: 1px solid black
  border-spacing: unset
  width: 30%
  text-align: center

.dorscon-green
  background-color: green
  color: white

.dorscon-yellow
  background-color: yellow
  color: black

.doscon-orange
  background-color: orange
  color: black

.dorscon-red
  background-color: red
  color: white

.larger-text
  font-size: larger